
.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}
   .info-row {
    margin: 10px 0;
    display: inline-block;
    text-align: left;
    width: 80%;	
}
   .label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}
   .button-group {
    margin-top: 20px;
    text-align: right;
}
   .button {
    padding: 5px 15px;
    margin: 0 5px;
    border: none;
    background-color: #050814;
    border-radius: 5px;
    color: #f5f6fa;
    font-size: 15px;
    cursor: pointer;
}